
.flash .view
{
  width: 100%;
}

.flash .view .extra-top-2
{
  border-bottom-color: #ead8c2;
}

.flash .view ul.messages p
{
  padding: 0;
  margin: 0;
}

.flash .view ul.messages
{ 
  border-left-color: #ead8c2;
  border-right-color: #ead8c2;
}

.flash .view ul.messages li
{
  padding-left: 32px;
  min-height: 16px;
  border-top-color: #fef9f6;
  border-bottom-color: #ead8c2;
  list-style-image: none;
}

/* Fake min-height for IE 6 */
* html .flash .view ul.messages li
{
  height: 16px;
}

.flash .view .extra-bottom-1
{
  border-top-color: #fef9f6; 
}
