
@font-face {
  font-family: 'freemono';
  src: url('http://daniel.kxpq.de/pub/fonts/FreeMono.otf');
}

@font-face {
  font-family: 'freeserif';
  src: url('http://daniel.kxpq.de/pub/fonts/FreeSerif.otf');
}

@font-face {
  font-family: 'freesans';
  src: url('http://daniel.kxpq.de/pub/fonts/FreeSans.otf');
}

body
{
  background-image: url(/pub/images/moon-from-earth.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  font-family: 'freesans', helvetica, sans-serif;
  text-align: center;
}

div.page-wrapper
{
  width: 60em;
  margin: 0 auto;
  text-align: left;
}

/* IE 6 specific hacks (has layout and min-width)*/
* html div.page-wrapper
{
  width: 70em;
}

div.page-wrapper * div.navigation-body *
{
    max-width:50em;
}

.page-wrapper .page-extra-top-1,
.dialog .dialog-extra-top-1
{
  height: 5px;
/*  background: url(/weblocks-common/pub/images/page/top_left.png) no-repeat top left;*/
  overflow: hidden;
}

.page-wrapper .page-extra-top-2,
.dialog .dialog-extra-top-2
{
  height: 5px;
  margin-top: -5px;
/*  background: url(/weblocks-common/pub/images/page/top_right.png) no-repeat top right;*/
  overflow: hidden;
}

.page-wrapper .page-extra-top-3,
.dialog .dialog-extra-top-3
{
  height: 5px;
  margin-top: -5px;
  margin-left: 5px;
  margin-right: 5px;
/*  background: url(/weblocks-common/pub/images/page/hor_border.png) repeat-x top;*/
  overflow: hidden;
}

div#root, .dialog-body, .dialog h1
{
/*  border-left: 1px solid black; */
/*  border-right: 1px solid black; */
}

div#root
{
  padding: 3em;
  min-height: 60ex;
  background-image: url("/pub/images/transparent.png");

}

/* IE 6 specific hacks (has layout and min-height)*/
* html div#root
{
  height: 60em;
}

div#main-menu
{
  position: relative;
}

div#main-menu div.navigation-body
{
  margin-left: 12em;
}

div#main-menu div.menu
{
  position: absolute;
  top: 0;
}

.page-wrapper .page-extra-bottom-1,
.dialog .dialog-extra-bottom-1
{
  height: 5px;
/*  background: url(/weblocks-common/pub/images/page/bottom_left.png) no-repeat top left;*/
  overflow: hidden;
}

.page-wrapper .page-extra-bottom-2,
.dialog .dialog-extra-bottom-2
{
  height: 5px;
  margin-top: -5px;
/*  background: url(/weblocks-common/pub/images/page/bottom_right.png) no-repeat top right;*/
  overflow: hidden;
}

.page-wrapper .page-extra-bottom-3,
.dialog .dialog-extra-bottom-3
{
  height: 5px;
  margin-top: -5px;
  margin-left: 5px;
  margin-right: 5px;
/*  background: url(/weblocks-common/pub/images/page/hor_border_bottom.png) repeat-x top;*/
  overflow: hidden;
}

.mainheader {
  font-family: 'freemono';
  font-size: 170%;
}

.header
{
/*  height: 52px; */
/*  background: url(/weblocks-common/pub/images/header/background.png) repeat-x;*/
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 3em;
  margin-right: 3em;
}

.header .extra-top-1
{
  height: 5px;
/*  background: url(/weblocks-common/pub/images/header/top_left.png) no-repeat top left;*/
  overflow: hidden;
}

.header .extra-top-2
{
  height: 5px;
  margin-top: -5px;
/*  background: url(/weblocks-common/pub/images/header/top_right.png) no-repeat top right;*/
  overflow: hidden;
}

.header .extra-top-3
{
  height: 42px;
  margin-left: 5px;
/*  background: url(/weblocks-common/pub/images/header/logo.png) no-repeat center left;*/
}

.header .extra-bottom-1
{
  height: 5px;
/*  background: url(/weblocks-common/pub/images/header/bottom_left.png) no-repeat top left;*/
  overflow: hidden;
}

.header .extra-bottom-2
{
  height: 5px;
  margin-top: -5px;
/*  background: url(/weblocks-common/pub/images/header/bottom_right.png) no-repeat top right;*/
  overflow: hidden;
}

.footer
{
  margin-top: 1em;
  padding-left: 3.5em;
  padding-right: 3.5em;
}

.footer p#system-info
{
  margin-bottom: 0;
}

.footer p#contact-info
{
  margin-top: 0;
}

/* Poems */

div.standard-poem-widget
{
    font-family: freeserif,Georgia,Palatino,Palatino Linotype,FreeSerif,serif;
    width:30em;
    font-size:18px;
}

div.poem-title
{
    padding-left:6em;
    padding-bottom:2ex;
}

div.poem-body
{
    padding-left: 2em;
    text-align: left;
    white-space: pre;
}

div.poem-author
{
    padding-top:2ex;
    text-align:right;
}

div.dismiss-button
{
    text-align:right;
}

div.folded-poem
{
    display:table;
}

div.folded-poem div.poem-description
{
    display:table-cell;
    width:100%;
}

div.folded-poem div.show-button
{
    display:table-cell;
    text-align:right;
}
