@font-face {
  font-family: 'freemono';
  src: url('/pub/fonts/FreeMono.otf');
}

@font-face {
  font-family: 'freeserif';
  src: url('/pub/fonts/FreeSerif.otf');
}

@font-face {
  font-family: 'freesans';
  src: url('/pub/fonts/FreeSans.otf');
}

body
{
    font-family: Cardo, freeserif;
    text-align: center;
    font-size:22px;
}

div.page-wrapper
{
  width: 45em;
  margin: 0 auto;
  text-align: left;
}

/* IE 6 specific hacks (has layout and min-width)*/
* html div.page-wrapper
{
  width: 70em;
}

div.page-wrapper * div.navigation-body *
{
    max-width:50em;
}

.page-wrapper .page-extra-top-1,
.dialog .dialog-extra-top-1
{
  height: 5px;
  overflow: hidden;
}

.page-wrapper .page-extra-top-2,
.dialog .dialog-extra-top-2
{
  height: 5px;
  margin-top: -5px;
  overflow: hidden;
}

.page-wrapper .page-extra-top-3,
.dialog .dialog-extra-top-3
{
  height: 5px;
  margin-top: -5px;
  margin-left: 5px;
  margin-right: 5px;
  overflow: hidden;
}

div#root, .dialog-body, .dialog h1
{
/*  border-left: 1px solid black; */
/*  border-right: 1px solid black; */
}

div#root
{
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 3em;
    padding-right: 3em;
    min-height: 45ex;
}

/* IE 6 specific hacks (has layout and min-height)*/
* html div#root
{
  height: 60em;
}

div#main-menu
{
  position: relative;
}

div#main-menu div.navigation-body
{
  margin-left: 12em;
}

div#main-menu div.menu
{
  position: absolute;
  top: 0;
}

.page-wrapper .page-extra-bottom-1,
.dialog .dialog-extra-bottom-1
{
  height: 5px;
  overflow: hidden;
}

.page-wrapper .page-extra-bottom-2,
.dialog .dialog-extra-bottom-2
{
  height: 5px;
  margin-top: -5px;
  overflow: hidden;
}

.page-wrapper .page-extra-bottom-3,
.dialog .dialog-extra-bottom-3
{
  height: 5px;
  margin-top: -5px;
  margin-left: 5px;
  margin-right: 5px;
  overflow: hidden;
}

.mainheader {
    font-family: freemono;
    font-weight: bold;
    font-size: 170%;
}

.header
{
  margin-top: 0em;
  margin-bottom: 2em;
  margin-left: 0em;
  margin-right: 0em;
}

.header .extra-top-1
{
  height: 5px;
  overflow: hidden;
}

.header .extra-top-2
{
  height: 5px;
  margin-top: -5px;
  overflow: hidden;
}

.header .extra-top-3
{
  height: 42px;
  margin-left: 5px;
}

.header .extra-bottom-1
{
  height: 5px;
  overflow: hidden;
}

.header .extra-bottom-2
{
  height: 5px;
  margin-top: -5px;
  overflow: hidden;
}

.footer
{
  margin-top: 1em;
}

.footer p#system-info
{
  margin-bottom: 0;
}

.footer p#contact-info
{
  margin-top: 0;
}

/* Poems */

div.standard-poem-widget
{
    font-family: Cardo,freeserif,Georgia,Palatino,Palatino Linotype,FreeSerif,serif;
    width:30em;
}

div.poem-title
{
    padding-left:6em;
    padding-bottom:2ex;
    font-style: italic;
    font-size: 120%;
}

div.poem-body
{
    padding-left: 2em;
    text-align: left;
}

div.poem-author
{
    padding-top:2ex;
    font-size:80%;
    text-align:right;
}

div.dismiss-button
{
    text-align:right;
}

div.folded-poem
{
    display:table;
}

div.folded-poem div.poem-description
{
    display:table-cell;
    width:100%;
}

div.folded-poem div.show-button
{
    display:table-cell;
    text-align:right;
}
