@font-face {
  font-family: 'freemono';
  src: url('/pub/fonts/FreeMono.otf');
}

@font-face {
  font-family: 'freeserif';
  src: url('/pub/fonts/FreeSerif.otf');
}

@font-face {
  font-family: 'freesans';
  src: url('/pub/fonts/FreeSans.otf');
}

body
{
    font-family: Cardo, freeserif;
    text-align: center;
    font-size:22px;
    margin: 0cm;
}

div.page-wrapper
{
    margin: 0cm;
    text-align: left;
    width: 30em;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

div#root
{
    padding: 0cm;
    margin: 2em;
    min-height: 45ex;
}

* html div#root
{
  height: 60em;
}

div#main-menu
{
  position: relative;
}

div#main-menu div.navigation-body
{
  margin-left: 12em;
}

div#main-menu div.menu
{
  position: absolute;
  top: 0;
}

.mainheader {
    font-family: freemono;
    font-weight: bold;
    font-size: 170%;
}

.pageheader
{
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    border-bottom: 1px solid #EEE;
    color: #CCC;
}

.pageheader a {
    color: #930000;
    text-decoration: none;
}

.footer
{
    margin-top: 1em;
    position:absolute;
    right:1em;
    font-size:80%;
}

.footer a {
    text-decoration: none;
    color:#DDD;
}

table.internal-data td {
    vertical-align: top;
}

div.logs div {
    font-size: 60%;
    white-space: pre;
    overflow: scroll;
    height: 40ex;
    font-family: freemono;
}

div.http-not-found {
    text-align: center;
}

/* Poems */

div.standard-poem-widget
{
    font-family: Cardo,freeserif,Georgia,Palatino,Palatino Linotype,FreeSerif,serif;
}

div.poem-title
{
    margin-bottom:2ex;
    font-style: italic;
    font-size: 120%;
    text-align: center;
}

div.poem-body
{
    text-align: left;
    white-space: pre;
}

div.poem-selector div.poem-body {
    margin-left: 5em;
}

div.poem-author
{
    margin-top:2ex;
    font-size:80%;
    text-align:right;
}

div.dismiss-button
{
    text-align:right;
    width: 110%;
}

div.dismiss-button a
{
    text-decoration: none;
    font-size: 80%;
    color: #BBB;
}

div.folded-poem
{
    display:table;
    width: 110%;
    text-align: center;
}

div.folded-poem div.poem-description
{
    display:table-cell;
    width:91%;
}

div.folded-poem div.show-button
{
    display:table-cell;
    text-align:right;
}

div.folded-poem div.show-button a{
    text-decoration: none;
    font-size: 80%;
    color: #BBB;
}

div.poem-selector hr {
    color: #EEE;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Essays */

div.essays div.table-of-contents a {
    text-decoration: none;
}

div.essays div.table-of-contents ul li {
    list-style-type: decimal;
}

div.essays div.texts hr {
    margin-top: 2em;
    margin-bottom: 2em;
}

div.essays div.texts div.footnotes hr {
    color: #DDD;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0cm;
    margin-bottom: 0cm;
}
