a
{
    color: #1E3C46;
}

img
{
    border-width:0px;
}

.view
{
  margin-bottom: 1em;
  _height: 0; /* IE specific hasLayout fix */
}

.view h1, .view fieldset h1
{
    background-color: #ecf8d7;
}

h1
{
  font-size: 120%;
  color: #29364F;
  font-weight: bold;
  margin-top: 0;
}

h2
{
  font-size: 110%;
  color: #29364F;
  font-weight: bold;
  margin-top: 0;
}

.view h1 .action, .view fieldset h1 .action
{
  display: none;
}

.view ul, .view fieldset ul, .table table, .view fieldset div.submit,
.view div.submit
{
  padding-left: 0;
  margin: 0;
}

.view ul li, .view fieldset ul li, .menu ul li a
{
  list-style: none;
  padding-left: 1.5em;
}

.view div.submit, .form fieldset div.submit
{
  padding-left: 13.5em;
}

.view ul li .label, .view fieldset ul li label span.slot-name,
.table table thead
{
  color: #808080;
  font-weight: bold;
}

.view ul li .label, .view fieldset ul li label span.slot-name
{
  display: -moz-inline-box;
  display: inline-block;
  width: 12em;
}

.view .extra-bottom-1
{
  height: 7px;
  overflow: hidden;
}

.view .extra-bottom-2
{
  height: 7px;
  margin-top: -7px;
  overflow: hidden;
}

.view .extra-bottom-3
{
  height: 7px;
  margin-top: -7px;
  overflow: hidden;
}

.missing
{
  font-style: italic;
  color: #808080;
}

input[type=hidden]
{
  visibility: hidden;
}

#ajax-progress
{
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
}

/* IE 6 specific progress bar fix */
* html #ajax-progress
{
  position: absolute;
  left: expression((documentElement.scrollLeft
                     + (documentElement.clientWidth - this.clientWidth))
                   + 'px')
  top: expression(documentElement.scrollTop + 'px');
}

/* Common styles for form, and data */
.data, .form
{
  width: 27em;
}

/* Close button */
span.close-button
{
  display: block;
  width: 15px;
  height: 15px;
  overflow: hidden;
}

span.close-button a
{
  padding-left: 1000em;
}

span.close-button a:hover
{
}

/* Total Items */
span.total-items
{
  color: gray;
  font-size: x-small;
}

/* Text */
.ellipsis
{
  color: gray;
  font-weight: bold;
}

p.text
{
  margin: 0;
}

.view ul li p.text
{
  margin-left: 0.5em;
}

/* No elements */
div.empty p
{
  padding-left: 0.5em;
  margin: 0;
}

div.empty p span.caption
{
  color: #29364F;
  font-weight: bold;
}
