
.menu
{
  width: 10em;
}

.menu h1
{
  background: #d8eaf8;
}

.menu .extra-top-1
{
}

.menu .extra-top-2
{
  border-bottom-color: #bfd9ec;
}

.empty-menu
{
  padding-left: 0.5em;
}

.selected-item
{
  color: #606060;
  background-color: #bfd9ec;
}

.menu ul li
{
  padding-left: 0;
}

.menu ul li.selected-item
{
  padding-left: 0.5em;
}

.menu ul li.selected-item span.label
{
  padding-left: 1em;
}

.menu h1, .view .empty-menu, .menu ul li
{
  border-top-color: #f6fbfd;
  border-bottom-color: #bfd9ec;
}

.menu h1, .menu .empty-menu, .menu ul
{
  border-left-color: #bfd9ec;
  border-right-color: #bfd9ec;
}

.menu .extra-bottom-1
{
  border-top-color: #f6fbfd;
}

.menu a
{
  display: block;
}

/* IE 6 and 7 hover hack */
*:first-child+html {} * html {} .menu a
{
  height: 1%;
}

.menu a:hover
{
  background-color: #bfd9ec;
}

